<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>515272107009-mu525o2m1ulvq039ae138imomhjeem9f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.515272107009-mu525o2m1ulvq039ae138imomhjeem9f</string>
	<key>API_KEY</key>
	<string>AIzaSyCfJP7nWwvZX1CfDjodE9rJYhRkyHJKA9w</string>
	<key>GCM_SENDER_ID</key>
	<string>515272107009</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aytacbulanik.KonteynerKentYonetimi</string>
	<key>PROJECT_ID</key>
	<string>konteynerkentyonetimi</string>
	<key>STORAGE_BUCKET</key>
	<string>konteynerkentyonetimi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:515272107009:ios:a57fc0a5b1f5a2a23a8c00</string>
</dict>
</plist>